@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* { margin: 0; padding: 0;}

body, html { height:100%; }

#myCanvas {
    position:absolute;
}

.flexcontainer {
	width: 100%;
	height: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.text{
	font-family: robotothin;
	color: white;
	z-index: 10;
}

.main{
	font-size: 60vh;
}

.spacer{
	width: 10 vw;
}

@-webkit-keyframes fadeIn {
    0% {
         opacity:0
    }
    25% {
         opacity:.25;
    }
    50% {
        opacity:.5;
    }
    75% {
        opacity:.75
    }
    100% {
        opacity:1;
    }
}